body{
    margin:0;
    display:flex;
    font-size:25px;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 100vh;
    background-image: url(https://picsum.photos/id/295/1024/768);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  body *{
    background: rgba(255,255,255,0.6);
  }
  .abc{
    display:FLEX;
    background: purple;
  gap:70px;
    flex-wrap:wrap;
    justify-content:center;
    position:absolute;
    bottom:0;
  padding:20px;
    box-sizing: border-box;
  }
  .letter{
    color:black;
    display:flex;
    border:1px solid black;
    background:green;
    width: 50px;
    height: 50px;
    justify-content:center;
    align-items:center;
    cursor: pointer
  }
  .letter:hover{
    color: white;
  }
  .a *{
     border:1px solid black;
    width: 60px;
    height: 70px;
    
  }
  .a{
    display:flex;
    gap:20px;
  }